body {
    background-image: url('./assets/opt_background.png');
    background-size: auto;
    background-repeat: repeat;
}

.App-header {
    padding: 20px;
    text-align: center;

    h1 {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
        font-weight: normal;
    }
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.checkbox-label {
    margin: 5px 0;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

    button {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    body {
        background-size: contain;
    }

    .App-header {
        padding: 10px;
        font-size: 18px;
    }

    .checkbox-label {
        font-size: 14px;
    }

    .App-title {
        width: 100%;
        text-align: center;
    }

}